@use '../../scss' as *;

.movie-list {
    .swiper-slide {
        width: 15%;
        min-height: 100%;
        height: unset;

        @include tablet {
            width: 30%;
        }

        @include mobile {
            width: 40%;
        }
    }
}
