@use '../../scss/' as *;

.header {
    height: $header-h;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;

    &.shrink {
        height: $header-shrink-h;
        background-color: $body-bg;
    }

    &__wrap {
        @include flex(center, space-between);
        height: 100%;
        padding: 0 2rem;

        @include mobile {
            justify-content: center;
        }
    }
}

.logo {
    @include flex(center, unset);

    a {
        font-size: 2.5rem;
        font-weight: 600;
    }
    img {
        margin-right: 20px;
        width: 50px;

        @include mobile {
            width: 30px;
            margin-right: 0;
        }
    }
}

.header__nav {
    @include flex(center, unset);

    & > * ~ * {
        margin-left: 2rem;
    }

    li {
        font-size: 1.4rem;
        font-weight: 700;
        padding: 6px 12px;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 2px;
            transition: width 0.5s ease;
            background-color: $main-color;
        }

        &:hover::after,
        &.active::after {
            width: 100%;
        }
    }

    @include mobile {
        position: fixed;
        bottom: 0;
        left: 0;
        height: 5rem;
        width: 100%;
        background-color: $body-bg;
        padding: 0 2rem;
        box-shadow: $box-shadow;

        @include flex(center, space-between);

        & > * ~ * {
            margin-left: 0;
        }
    }
}
